@font-face {
   font-family: JuliusSansOne;
   src: url(JuliusSansOne-Regular.ttf);
 }
@font-face {
   font-family: Inter;
   src: url(Inter-VariableFont_slnt,wght.ttf);
 }
 @font-face {
   font-family: Hero;
   src: url(ofont.ru_Hero.ttf);
 }


.navbarWrapper{
   opacity: 1;
   height: 60px;
   z-index: 2;
   min-width: 1600px;
   display: flex;
   justify-content: center;
   transition: 0.3s ease;
   align-items: center;
   border-bottom: 1px solid gray;
   font-size: 16px;
   font-family: Hero;


   .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Hero;
      font-size: 1.7em;
      font-weight: Bold;
   }
   .navbar{
      display: flex;
      justify-content: center;
      width: 70%;
      height: 58px;
      transform: translateY(0px);
      transition: 0.3s ease;
      background: transparent;
      font-family: Hero;
      ul{
         justify-content: space-around;
         display: flex;
         align-items: center;
         flex-flow: row;
         height: 100%;
         margin: 0;
         .searchBarWrapper{
            padding: 0;
            border-radius: 15px;
            width: 250px!important;
            height: 30px;
            border: 1px solid black;
            .searchBar{
               all: unset;
               margin: 0 10px;
               width: 80%;
               height: 100%;
               font-size: 1em;
            }
         }
         .searchBarWrapper:hover{
            background: none;
            cursor: text;
         }
         .settings{
            padding: 0 5px;
         }
         li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            height: 90%;
            background: white;
            padding: 0 20px;
            margin: 0 20px;
            border-radius: 10px;
            transition: 0.3s ease;
            font-size: 1.2em;
            .link{
               font-weight: bold;
               text-align: center;
               color: black;
               text-decoration: none;
            }
         }
         li:hover{
            background: #aeaeae;
         }
         
      }
      
   }
}
.navbarWrapper:hover{
   opacity: 1;
   nav{
      // transform: translateY(0px);
   }
}
@media screen and (max-width: 1600px) {
   .navbarWrapper{
      min-width: 1200px;
      background: white;
      .logo{
         font-size: 1.3em;
      }
      .navbar{
         ul{
            li{
               font-size: 1em;
            }
         }
      }
   }
}