@font-face {
   font-family: JuliusSansOne;
   src: url(JuliusSansOne-Regular.ttf);
 }
@font-face {
   font-family: Inter;
   src: url(Inter-VariableFont_slnt,wght.ttf);
 }


.RegistrationWrapper{
   font-size: 16px;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   font-family: Inter;

   .title{
      text-align: center;
      width: 600px;
      height: 220px;
      .mainTitle{
         font-size: 4em;
         font-family: JuliusSansOne;
      }
      .page{
         font-size: 3em;
         margin: 10px 0;
      }
      .subText{
         font-size: 2em;
      }
   }
   .inputs{
      margin: 10px 0;
      width: 600px;
      height: 300px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .row{
         height: 5.5em;
         width: 100%;
         display: flex;
         flex-flow: column;
         justify-content: center;
         align-items: center;
         .inputName{
            font-size: 1.5em;
         }
         .Input{
            width: 90%;
            flex-grow: 1;
            border: 1px solid black;
            border-radius: 30px;
         }
      }

   }
   .links{
      width: 600px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      .row{
         height: 3em;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .button{
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 20px;
         border: 1px solid black;
         width: 5em;
         font-size: 1.5em;
      }
      .helpLinks{
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-flow: row;
         .link{
            margin: 0 10px;
            text-decoration: underline;
         }
      }
   }
}